body{
    font-family: Arial;
    background:#f4f6f9;
}

.container{
    width:60%;
    margin:auto;
    text-align:center;
}

input{
    padding:10px;
    width:60%;
    margin-top:20px;
}

button{
    padding:10px 20px;
    background:#007bff;
    color:white;
    border:none;
}

.card{
    background:white;
    margin-top:30px;
    padding:20px;
}

.score{
    background:white;
    margin-top:20px;
    padding:20px;
}

.error{
    color:red;
}